@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
	background-image: url("../Images/cloth.png");
}

a{
	text-decoration: none;
	color: gray;
}

a:hover{
	color: #4aaaa5
}

.header{
	border-bottom: solid gray 2px;
	margin-top: 0;
	width: 100%;
	background-color: white;
}

.title{
	display: inline-block;
	background-color: #4aaaa5;
	font-size: 30px;
	font-family: Raleway;
	padding: 20px;
	color: white;
	margin-left: 10%;
}

.clickbar{
	float: right;
	margin-right: 10%;
}

#clickbar1{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
	border-right: solid gray 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial
}

#clickbar2{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
	border-right: solid gray 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial
}

#clickbar3{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
	padding-left: 10px;
	font-family: Arial
}

.page{
	margin-top: 5em;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.container{
	width: 50%;
	float: left;
	background-color: white;
}

.title2{
	font-size: 30px;
	font-family: Raleway;
	color: #4aaaa5;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: solid gray 2px;
}

.content{
	font-family: Arial;
	margin: 8.33%;
	clear: both;
}

/*I had to add a bunch of rotational attributes to my profile picture because for some reason it's tilted 90 degrees left on chrome. Haven't tried other web browsers yet.*/
.profile_picture{
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
  float: left;
  margin-right: 8.33%;
  width: 40%;
  max-width: 150px;
}

.portfolio_link{
	display: inline-block;
	padding: 8.33%;
	float: left;
	width: 33.3%
}

.portfolio_image{
	width: 100%;
}

.portfolio_text{
	background-color: #4aaaa5;
	color: white;
	width: 100%;
	position: relative;
	top: -50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.contact_form{
	padding-bottom: 10px;
}

.text_box{
	width: 100%;
}

#text_box3{
	height: 100px;
	width: 100%;
}

.submit{
	height: 50px;
	width: 80px;
	font-family: Arial;
	color: white;
	background-color: #4aaaa5;
}

.submit:hover{
	color: black;
	background-color: white;
}

.sidebar{
	float: right;
	width: 30%;
	max-width: 270px;
	background-color: white;
}

.icon{
	display: inline-block;
	width: 31.5%;
}

.icon:hover{
	border: solid #4aaaa5 2px;
}

/*The "position: fixed;" attribute seems to work in making it a sticky footer, but for some reason it didn't work on the header. Hopefully it won't break here.*/
.footer{
	bottom: 0;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #666;
	color: white;
	text-align: center;
	padding-top: 30px;
	border-top: solid #4aaaa5 5px;
}

@media screen and (max-width: 980px){

	.portfolio_link{
		width: 83.33%
	}
}

@media screen and (max-width: 768px){

	.container{
		width: 100%;
		margin-left: 0;
	}

	.portfolio_link{
		width: 33.33%;
	}

	.sidebar{
		width: 100%;
		max-width: 100%;
		float: left;
		margin-top: 2em;
	}
}

@media screen and (max-width: 640px){

	.title{
		margin-left: 0;
		width: 100%;
		text-align: center;
	}

	.clickbar{
		float: left;
		width: 100%;
		text-align: center;
		background-color: white;
		margin-top: 0;
		padding-bottom: 25px;
	}

	.profile_picture{
		width: 100%;
		max-width: 100%;
		margin-bottom: 1em;
	}

	.portfolio_link{
		width: 83.33%
	}
}

::i-block-chrome,.profile_picture{
	-webkit-transform:rotate(0deg);
	transform: rotate(0deg);
}